<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plex Youtube and Vimeo Link Parser</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="~/Content/Scripts/scripts.js"></script>
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
</head>
<body>

    <div id="shell">
    
        <h1>Plex Youtube &amp; Vimeo Link Parser</h1>

        <p id="intro">
            Allows for the creation of bulk youtube video links to be sent via email to your myPlex queue email, 
            such as <em>{something}@@my.plexapp.com</em>, given a user video list or playlist URL. Plex will automatically
            parse the links and add them to your queue.
        </p>

        @Html.Partial("Form")

        <div id="info">
            @Html.Partial("Updates")
            @Html.Partial("Instructions")
            @Html.Partial("Supported")
            @Html.Partial("Notes")
        </div>

        <p id="disclaimer">Questions? Comments? <a href="http://www.reddit.com/user/rpeters83/" target="_blank">rpeters83</a> on <strong>Reddit</strong> and <a href="https://twitter.com/marriedgeek">@@marriedgeek</a> on Twitter</p>

    </div>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9839575-12']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>
